# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.dapper

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
bin/
dist/
package/GeoLite2-City.mmdb
package/upgrade-responder-amd64
package/upgrade-responder-arm64
